<body>
     <main>
        <!--BANNER PRINCIPAL-->
        <section class="homeBanner">
            <h1 class="homeBanner__titulo">Bolsas ecológicas en algodón</h1>
            <p class="homeBanner__texto">Encuentra aquí tote bags y bolsas ajustables en materiales biodegradables. Accede a descuentos por compras a partir de la docena</p>
            <a href="/shop" class="btn">COMPRAR</a>
        </section>
        <!--FIN BANNER PRINCIPAL-->

        <!--BENEFICIOS-->
        <section class="homeBeneficios">
            <div class="homeBeneficios__beneficio">
                <i class="fa-regular fa-comments"></i>
                <span>Atención al cliente</span>
            </div>
            <div class="homeBeneficios__beneficio">
                <i class="fa-solid fa-dolly"></i>
                <span>Envíos rápidos</span>
            </div>
            <div class="homeBeneficios__beneficio">
                <i class="fa-regular fa-calendar"></i>
                <span>Garantía de 30 días</span>
            </div>
        </section>
        <!--FIN BENEFICIOS-->

        <!--CATEGORÍAS PRODUCTOS-->
        <section class="homeCategoria">
            <div class="homeCategoria__titulo">
                <span class="homeCategoria__titulo__pre">1 0 0 %  A L G O D Ó N</span>
                <h2 class="homeCategoria__titulo__categorias">CATEGORÍAS DE PRODUCTO</h2>
            </div>
            <div class="homeCategoria__categorias">
                <div class="homeCategoria__categorias__todas">
                    <div class="homeCategoria__categorias__una">
                        <a href="#" class="homeCategoria__categorias__una"><img src="https://http2.mlstatic.com/D_NQ_NP_843075-MCO46415088152_062021-O.webp" alt="tote bags de venta en bogota" class="homeCategoria__categorias__una__img"></a>
                        <a href="#" class="homeCategoria__categorias__una__pie">Tote Bags</a>
                    </div>
                    <div class="homeCategoria__categorias__una">
                        <a href="#"><img src="https://http2.mlstatic.com/D_NQ_NP_749141-MCO42787659668_072020-O.webp" alt="bolsas de algodon ajustables bogota" class="homeCategoria__categorias__una__img"></a>
                        <a href="#" class="homeCategoria__categorias__una__pie">Ajustables</a>
                    </div>
                    <div class="homeCategoria__categorias__una">
                        <a href="#"><img src="https://http2.mlstatic.com/D_NQ_NP_750867-MCO70995779426_082023-O.webp" alt="tulas ecologicas bogota" class="homeCategoria__categorias__una__img"></a>
                        <a href="#" class="homeCategoria__categorias__una__pie">Tote Bags Negras</a>
                    </div>
                </div>
                <a href="/shop" class="btn">TIENDA</a>
            </div>
        </section>
        <!--FIN CATEGORÍAS PRODUCTOS-->

        <!--PROPUESTA DE VALOR-->
        <section class="homePropuestaValor desktop">
            <div class="homePropuestaValor__contenido">
                <h2 class="homePropuestaValor__titulo">¿Qué  ganas  al  adquirir  tus  nuevas  bolsas?</h2>
                <ul class="homePropuestaValor__lista">
                    <li class="homePropuestaValor__lista__elemento">
                        <i class="fa-solid fa-check homePropuestaValor__icono"></i>
                        <div class="homePropuestaValor__lista__elemento__txt">
                            <h4>Garantiza una mayor duración y resistencia</h4>
                            <p>Costuras reforzadas</p>
                        </div>
                    </li>
                    <li class="homePropuestaValor__lista__elemento">
                        <i class="fa-solid fa-check homePropuestaValor__icono"></i>
                        <div class="homePropuestaValor__lista__elemento__txt">
                            <h4>Con terminado en costura francesa</h4>
                            <p>Acabados estéticos</p>
                        </div>
                    </li>
                    <li class="homePropuestaValor__lista__elemento">
                        <i class="fa-solid fa-check homePropuestaValor__icono"></i>
                        <div class="homePropuestaValor__lista__elemento__txt">
                            <h4>Amigable con el medio ambiente</h4>
                            <p>Materiales biodegradables</p>
                        </div>
                    </li>
                    <li class="homePropuestaValor__lista__elemento">
                        <i class="fa-solid fa-check homePropuestaValor__icono"></i>
                        <div class="homePropuestaValor__lista__elemento__txt">
                            <h4>Mayor comodidad al usar</h4>
                            <p>Asas extra largas</p>
                        </div>
                    </li>
                </ul>
            <div class="homePropuestaValor__lista__elemento">
                <i class="fa-solid fa-medal homePropuestaValor__icono--grande"></i>
                <div class="homePropuestaValor__lista__elemento__txt">
                    <h4>Compra segura!</h4>
                    <p>Tendrás garantía de 30 días.</p>
                </div>
            </div>
            </div>
        </section>

        <section class="mobile">
            <div class="homePropuestaValor__contenido">
                <ul class="homePropuestaValor__lista container">
                    <li class="homePropuestaValor__lista__elemento row">
                        <i class="fa-solid fa-check homePropuestaValor__icono col"></i>
                        <div class="homePropuestaValor__lista__elemento__txt col-10">
                            <h4>Garantiza una mayor duración y resistencia</h4>
                            <p>Costuras reforzadas</p>
                        </div>
                    </li>
                    <li class="homePropuestaValor__lista__elemento row">
                        <i class="fa-solid fa-check homePropuestaValor__icono col"></i>
                        <div class="homePropuestaValor__lista__elemento__txt col-10">
                            <h4>Amigable con el medio ambiente</h4>
                            <p>Materiales biodegradables</p>
                        </div>
                    </li>
                    <li class="homePropuestaValor__lista__elemento row">
                        <i class="fa-solid fa-check homePropuestaValor__icono col"></i>
                        <div class="homePropuestaValor__lista__elemento__txt col-10">
                            <h4>Compra segura!</h4>
                            <p>Tendrás garantía de 30 días.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!--FIN PROPUESTA DE VALOR-->

        <!--BUYER PERSONA-->
        <section class="buyerPersona">
            <a href="/shop" class="btn">TIENDA</a>
        </section>
        <!--FIN BUYER PERSONA-->
    </main>
</body>
</html>