<h1>LOGIN</h1>

<form action="/session/login" method="post">
    <span>Email</span><input type="text" name="email">
    <span>Password</span> <input type="text" name="password">
    <button type="submit" class="btn">LOGIN</button>
    <br>
</form>
<hr>
<a href="/register" >Register</a>
<hr>
<a href="/session/github" class="btn">😺 LOGIN GITHUB</a>