<div class="container" style="height: 30vw; padding-top: 10vw">
    <div class="alert alert-warning" role="alert">
        La contraseña no puede ser igual a la anterior
    </div>
    <div>
        <a href="/login" >Iniciar sesión</a>
    </div>

</div>
