<div class="container" style="height: 50vh; margin-top:50px;">
    <form action="/api/users/{{uid}}/documents" method="POST" enctype="multipart/form-data">

        <label for="profile"><strong>Foto de perfil:</strong></label>
        <br>
        <input type="file" name="profile" id="profile">
        <br><br>
        <label for="product"><strong>Foto de producto:</strong></label>
        <br>
        <input type="file" name="product" id="product">
        <br><br>
        <label for="documentType"><strong>Documento</strong></label>
        <br>
        <select name="documentType" id="documentType">
            <option value="identificacion">Identificación</option>
            <option value="domicilio">Comprobante de domicilio</option>
            <option value="estadoCuenta">Comprobante de estado de cuenta</option>
        </select>
        <input type="file" name="document" id="document">
        <br><br><br>
        <input type="submit" class="btn" value="SUBIR">

    </form>
</div>