<div class="container" style="height: 30vw; padding-top: 10vw">
    <div class="alert alert-warning" role="alert">
        El usuario no existe
    </div>
    <div>
        <p><strong>¿Aún no tienes cuenta?</strong></p>
        <a href="/register" >Registrate</a>
    </div>
</div>
