body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.center {
  text-align: center;
  margin: 0 auto; }
h1 {
  font-size: 30px;
  font-weight: 700; }

h2 {
  font-size: 30px;
  font-weight: 700; }

h3, h4 {
  font-size: 20px;
  font-weight: 500; }

p, label, option, input, select {
  font-size: 14px;
  font-weight: 400; }

.p__destacar p {
  font-size: 18px;
  font-weight: 800; }

.btn, .btn:hover {
  background-color: #11b28e;
  color: whitesmoke;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 5px;
  border-color: #11b28e;
  text-decoration: none; }
  .btn:hover {
    background-color: #01a27f; }

.center {
  text-align: center;
  margin: 0 auto; }

/*END TEXT*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-family: 'Montserrat', sans-serif; }

/*HEADER*/
.nav-link {
  text-align: center; }

.header__logo {
  height: 50px; }

.header__iconos {
  text-align: center; }

.header__iconos a {
  padding: 10px;
  color: #2C2C2C;
  font-size: 24px; }

/* FIN HEADER*/

/*FOOTER*/
.footer {
  background-color: #2C2C2C;
  padding: 40px; }

.footer-row {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media (max-width: 600px) {
    .footer-row {
      display: block; } }

.footer__logo {
  align-self: flex-start;
  padding: 10px; }
  .footer__logo img {
    height: 180px; }
  @media (max-width: 600px) {
    .footer__logo {
      text-align: center;
      margin: 0 auto; } }

.footer__logo__rrss {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px; }
  .footer__logo__rrss img {
    height: 30px; }
  @media (max-width: 600px) {
    .footer__logo__rrss {
      display: flex;
      justify-content: center;
      padding-top: 0px; }
      .footer__logo__rrss a {
        padding: 20px; } }

.footer__section {
  padding: 10px; }

.footer__section__titulo {
  color: whitesmoke;
  font-weight: 1000; }
  @media (max-width: 600px) {
    .footer__section__titulo {
      color: whitesmoke;
      font-weight: 1000;
      text-align: center; } }

.footer__section__lista {
  list-style: none;
  color: whitesmoke;
  margin-left: -30px; }
  .footer__section__lista a {
    color: whitesmoke;
    text-decoration: none; }
  .footer__section__lista a:visited {
    color: whitesmoke;
    text-decoration: none; }
  .footer__section__lista a:hover {
    color: #11b28e;
    text-decoration: none; }
  @media (max-width: 600px) {
    .footer__section__lista {
      list-style: none;
      color: whitesmoke;
      margin-left: -30px;
      text-align: center; } }

.footer__copy {
  color: whitesmoke;
  text-align: center; }

.jump:hover {
  animation: jump 1s;
  animation-iteration-count: infinite; }

@keyframes jump {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-10px); }
  100% {
    transform: translatey(0px); } }

/*FIN FOOTER*/